.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 10s ease;
    height: 80px;
}

.scene {
    float: left;
    font-size: 0.8em;
    text-align: left;
    padding: 0.5em;

}

.App-header {
    background-color: #1f8eb7;
    height: 150px;
    padding-top: 20px;
    color: #1f8eb7;
    opacity: 0.2;
    transition-duration: .5s;
}

.App-header:hover {
    opacity: 0.7;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
